<?php  // Moodle configuration file
// {{ ansible_managed }}

unset($CFG);
global $CFG;
$CFG = new stdClass();

$CFG->dbtype    = 'mysqli';
$CFG->dblibrary = 'native';
$CFG->dbhost    = 'localhost';
$CFG->dbname    = '{{ moodle_db.name }}';
$CFG->dbuser    = '{{ moodle_db.user }}';
$CFG->dbpass    = '{{ moodle_db.pass }}';
$CFG->prefix    = 'mdl_';
$CFG->dboptions = array (
  'dbpersist' => 0,
  'dbport' => '',
  'dbsocket' => '/var/run/mysqld/mysqld.sock',
  'dbcollation' => '{{ moodle_db.collation | default('utf8_unicode_ci') }}',
);

$CFG->wwwroot   = '{{ moodle_external_url }}';
$CFG->dataroot  = '{{ moodle_data_dir }}';
$CFG->admin     = 'admin';

$CFG->directorypermissions = 0777;

require_once(__DIR__ . '/lib/setup.php');

// There is no php closing tag in this file,
// it is intentional because it prevents trailing whitespace problems!
